

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="mr-auto">
              <h1 class="mb-0">{{ .Site.Params.firstName }}
                <span class="text-primary">{{ .Site.Params.lastName }}</span>
              </h1>
              <div class="subheading mb-5">{{ .Site.Params.address }} ·
                <a href="mailto:{{ substr .Site.Params.email 0 5}}-remove-{{ substr .Site.Params.email 5 }}">{{ substr .Site.Params.email 0 5}}<span style="display:none">-remove-</span>{{ substr .Site.Params.email 5 }}</a>
              </div>

            </div>

        </div>
        <div>
          {{ .Content }}
          <h3 id="about" class="section-heading">About Me</h3>
          <p class="p-2">As a recent Computer Science graduate from Boise State University, I am an aspiring software engineer with a strong educational foundation and a thirst for practical experience. During my academic journey, I immersed myself in a wide range of programming languages, algorithms, and software development methodologies. Eager to translate my classroom knowledge into real-world applications, I am now seeking opportunities to contribute and grow in a dynamic software engineering environment.

            I am thrilled to explore opportunities that allow me to blend my academic achievements and startup experience to make a meaningful impact. Let's connect to discuss how my passion for software engineering aligns with your team's objectives.</p>
          <h3 id="education" class="section-heading">Education</h3>
          <table class="p-1">
              {{ range .Site.Data.education }}
                <tr>
                    <td>
                        <img style="width:75px; height:75px; max-width:none"src="{{.img}}">
                    </td>
                    <td>
                        <div>{{.degree}} - {{.field}}</div>
                        <small>{{.school}} - {{.endDate}}</small>
                    </td>
                </tr>
              {{ end }}
          </table>
          <h3 id="experience" class="section-heading">Experience</h3>
          <table class="p-1">
            {{ range .Site.Data.experience }}
              <tr>
                  <td>
                      <img style="width:75px; height:75px;" src="{{.img}}">
                  </td>
                  <td>
                      <div>{{ .company }} - {{ .role }}</div>
                      <small>{{ .range }}</small>
                  </td>
              </tr>
            {{ end }}
        </table>
 
          <h3 id="technologies" class="section-heading">Primary Programming Languages</h3>
          <ul class="list-inline mb-0 pl-1">
            {{ range .Site.Data.languages }}
            <li class="list-inline-item">{{ . }}</li>
            {{ end }}
          </ul>
          <h3 class="section-heading">Cloud Services & IaaS</h3>
          <ul class="list-inline mb-0 pl-1">
            {{ range .Site.Data.cloud }}
            <li class="list-inline-item">{{ . }}</li>
            {{ end }}
          </ul>
          <h3 class="section-heading">Libraries/Frameworks</h3>
          <ul class="list-inline mb-0 pl-1">
            {{ range .Site.Data.frameworks }}
            <li class="list-inline-item">{{ . }}</li>
            {{ end }}
          </ul>
          <h3 id="projects" class="section-heading">Projects</h3>
          {{ range .Site.Data.projects }}
          <h3>{{ .name }}</h3>
          <p>{{ .description }}</p>
          <a href="{{.url}}">Check it out!</a>
          {{ end }}
        </div>
      </div>
    </section>
